
.palette {
  $size: 560px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
  grid-auto-flow: row;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
  }
  .color {
    cursor: pointer;
    padding: 3px;
    .color-inner {
      border: 1px solid transparent;
      height: 100%;
      width: 100%;
    }
    &:hover {
      .color-inner {
        border: 1px solid white;
      }
    }
  }

}
.wrapper-inner{
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
}
